body {
  background-color: gainsboro;
  font-family: "Roboto", sans-serif;
}

a {
  color: blue;
  font-size: 15px;
  text-decoration: none;
}

#nomhv {
  color: brown;
}

.caja {
  border: 1px solid green;
  margin: 30px;
  padding: 20px;
}

.encabezado{
    border:
    display: block
}
